<div data-controller="geolocation" data-latitude="<%= current_user&.profile&.latitude %>" data-longitude="<%= current_user&.profile&.longitude %>" class="container">
    <div class="row">
        <% @properties.each do |property| %>
            
                <div class="col-sm-3">
                    <li class="relative" data-geolocation-target="property" data-latitude="<%= property.latitude %>" data-longitude="<%= property.longitude%>">     
                        <img
                            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                            class="w-100 shadow-1-strong rounded mb-4"
                            alt="Boat on Calm Water"
                        />
                        <p class="fs-5"><%= property.city %>, <%= property.state %></p>
                        <p data-distance-away class="fs-6 fw-lighter lh-1 pe-1">7,99 km away</p>
                        <p class="fs-6 fw-lighter lh-1 pe-1">Jun 19-24</p>
                        <p class="fs-6 fw-lighter lh-1 pe-1">$172 per night</p>
                    </li>
                </div>  
        <% end %>
    </div>
</div>